@font-face {
  font-family: "PT Sans", "Arial", sans-serif;

  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;

  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

body {
  font-family: "PT Sans";

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}

ul {
  list-style-type: none;
}

.body-index {
  text-align: center; /*можно ли задать text-align на уровне body, или лучше пониже уровнем?*/
}

header {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  /* text-align: center; */
  color: #000000;

}

.user-menu a {
  font-size: 16px;
  line-weight: 20px;
  text-transform: uppercase;
  /* text-align: center; */

  color: #ffffff;
  background-color: #756157;
}

.hero-image {

  background-color: rgba(131, 179, 211, 0.2); /* не нашла, как по-другому добавиль альфа-канал в бэкграунд. так можно? */
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.main-page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
}
