:root {
  --text-base-color: #000000;
  --text-additional-color: #333333;
  --text-accent-color: #ffffff;
  --text-accent-color-pressed: rgba(255, 255, 255, 0.3);
  --text-error-color: #FF5757;

  --theme-color: #82B3D3;
  --accent-color: #7DB54F;

  --button-base-color: #756157;
  --button-additional-color: var(--theme-color);
  --button-color-chosen: var(--accent-color);

  --bg-base-color: #ffffff;
  --bg-theme-color: var(--theme-color);
  --bg-light-color: rgba(130, 179, 211, 0.12); /*как задать этот цвет через --theme-color и добавление к нему прозрачности просто?*/
  --bg-middle-color: rgba(130, 179, 211, 0.2); /*как задать этот цвет через --theme-color и добавление к нему прозрачности просто?*/
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;

  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;

  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

body {
  width: 1200px;
  margin: 0 auto;
  font-family: "PT Sans";

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: var(--text-base-color);
  background-color: var(--bg-base-color);
}

/* .visually-hidden {
  display: none;
} */

title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.list {
  list-style-type: none;
  padding: 0;
}

.body-index {
  text-align: center; /*можно ли задать text-align на уровне body, или лучше пониже уровнем?*/
}

.main-header {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  /* text-align: center; */
  color: var(--text-base-color);

}

.user-menu a {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  /* text-align: center; */

  color: var(--text-accent-color);
  background-color: var(--button-base-color)
}

.hero-section {
  width: 100%;
  height: 485px;
  background-color: var(--bg-middle-color); /* не нашла, как по-другому добавиль альфа-канал в бэкграунд. так можно? */
  /* какая-то ерунда с бэкграундами, один несчастный пиксель торчит */
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat no-repeat;
}

.h2-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
  color: var(--text-additional-color);
}

.advantage.white-text {
  background-color: var(--bg-theme-color);
}

.advantage-icon {
  filter: invert(79%) sepia(9%) saturate(1652%) hue-rotate(171deg) brightness(86%) contrast(90%); /* не нашла, как по-другому перекрашивать иконку в стилях */

}

h3 {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantage-description {
  color: var(--text-additional-color);
}

.white-text {
  color: var(--text-accent-color);

}

.rectangle {
  width: 60px;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
}

.white-text > .rectangle {
  /* width: 60px;
  height: 2px; */
  background: rgba(255, 255, 255, 0.3);
}

.button {
  display: block;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  color: var(--text-accent-color);
  background-color: var(--button-base-color);

}

.newsletter-section {
  width: 100%;
  height: 414.86px;
  background-color: var(--bg-theme-color); /* не нашла, как по-другому добавиль альфа-канал в бэкграунд. так можно? */
  background-image: url("../images/subscribe-background.png");
  background-position: bottom;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.newsletter-form input {
  /* не понимаю, почему паддинги так сильно увеличивают кнопку */
  /* padding: 14px 20px;  */
  width: 452px;
  height: 52px;
  border: 0;
  border-radius: 4px 0 0 4px;

}

.newsletter-form button {
  width: 232px;
  height: 52px;
  border-radius: 0 4px 4px 0;
  border: none;
  background-color: var(--button-additional-color);

}

.footer-social-item {
  display: block;
  width: 47.33px;
  height: 40px;
  background-position: center;
}

.vk {
  background-image: url("../images/vk.svg");
  background-repeat: no-repeat;
}

.telegram {
  background-image: url("../images/telegram.svg");
  background-repeat: no-repeat;
}

.youtube {
  background-image: url("../images/youtube.svg");
  background-repeat: no-repeat;
}

.phone-number {
  color: var(--text-base-color);
  font-size: 40px;
  line-height: 40px;
}
.header-inner {
  width: 1200px;
  /* height: 412px; */
  background-color: var(--bg-theme-color);
  background-image: url("../images/catalog-background.png");
  background-repeat: no-repeat;

}



.breadcrumbs > li {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs .more {
  width: 8px;
  height: 20px;
  background-image: url("../images/more.svg");
  background-repeat: no-repeat;
  background-position: center;
  /* накинуть фильтр на контентное изображение я еще смогла, но как его накинуть на бэкграунд (чтобы иконки были белыми)? */
  /* -webkit-backdrop-filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(202deg) brightness(108%) contrast(103%); */
}

.catalog-filter-group legend {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-filter-group input {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-group .button {
  width: 191px;
  height: 36px;
  background-color: var(--bg-theme-color);
}
