:root {
  --text-base-color: #000000;
  --text-additional-color: #333333;
  --text-accent-color: #ffffff;
  --text-accent-color-pressed: rgba(255, 255, 255, 0.3);
  --text-error-color: #FF5757;

  --theme-color: #82B3D3;
  --accent-color: #7DB54F;

  --button-base-color: #756157;
  --button-additional-color: var(--theme-color);
  --button-color-chosen: var(--accent-color);

  --bg-base-color: #ffffff;
  --bg-theme-color: var(--theme-color);
  --bg-light-color: rgba(130, 179, 211, 0.12); /*как задать этот цвет через --theme-color и добавление к нему прозрачности просто?*/
  --bg-middle-color: rgba(130, 179, 211, 0.2); /*как задать этот цвет через --theme-color и добавление к нему прозрачности просто?*/
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;

  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");

  font-display: swap;
}

@font-face {
  font-family: "PT Sans", "Arial", sans-serif;

  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");

  font-display: swap;
}

body {
  font-family: "PT Sans";

  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: var(--text-base-color);
  background-color: var(--bg-base-color);
}



ul {
  list-style-type: none;
}

.body-index {
  text-align: center; /*можно ли задать text-align на уровне body, или лучше пониже уровнем?*/
}

header {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.nav-link {
  font-size: 20px;
  line-height: 24px;
  /* text-align: center; */
  color: var(--text-base-color);

}

.user-menu a {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  /* text-align: center; */

  color: var(--text-accent-color);
  background-color: var(--button-base-color)
}

.hero-image-wrapper {

  background-color: var(--bg-middle-color); /* не нашла, как по-другому добавиль альфа-канал в бэкграунд. так можно? */
  background-image: url("../images/index-background.jpg");
  /* background-size: 100%; */
  background-repeat: no-repeat;
}

.main-page-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.description {
  font-size: 22px;
  line-height: 26px;
  color: var(--text-additional-color);
}

.white-text {
  color: var(--text-accent-color);
  background-color: var(--bg-theme-color);
}
